@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ExGrip - SVG2PNG AzureBadge Generator - Welcome!</h1>
    <p class="lead">Create your own badges with your favorite SVG tool, upload them, and use them in your web, phone, .net and RT apps!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

